@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);

html {
	font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.main-wrapper {
	background-image: url(../img/spid-usericon.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
h1,h2,h3 {
	color: #00264d;
}
.main-header__spidlogo {
	max-width: 100%;
	width: 100px;
	width: 10rem;
}
.main-header__spidlogo.v2 {
  width: 125px;
  width: 12.5rem;
}
.Form-input {
	background-color: #fff;
	background-color: transparent !important;
}
.icon-error {
  width: 60%;
}
.u-layout-extrasmall {
  max-width: 500px !important;
  max-width: 50rem !important;
}

/* ANIMAZIONI FORM INPUT */

.form-animate-fields.Form-field {
  position: relative;
  overflow: hidden;
  padding-top: 2rem;

}
.form-animate-fields .Form-input {
  position: relative;
  z-index: 100;
  display: block;
  width: 100%;
  height: 44px;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.form-animate-fields .Form-input:focus {
  outline: none;
}
.form-animate-fields .Form-label {
  width: 100%;
  position: absolute;
  top: 24px;
  padding: 10px 8px;
}
.form-animate-fields .Form-label:before,
.form-animate-fields .Form-label:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}
.form-animate-fields .Form-label:before {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(-101%, 0, 0);
          transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
}
.form-animate-fields .Form-input.is-filled + .Form-label:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.form-animate-fields .Form-label:after {
  bottom: 0;
  height: 1px;
  -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.form-animate-fields .Form-input.is-filled + .Form-label:after {
  opacity: 0;
}
.form-animate-fields .form-label-content {
  position: relative;
  display: block;
  font-size: 1.5em;
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
  transition: color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
}
.form-animate-fields .Form-input.is-filled + .Form-label .form-label-content {
  font-size: inherit;
  -webkit-transform: translate3d(-8px, -34px, 0);
          transform: translate3d(-8px, -34px, 0);
}

/* OVERRIDES IWT */
input:focus {
  box-shadow: none !important;
}
input.error {
  background-image: url('../img/icons/form-icon-error.svg');
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border-bottom-color: #F83E5A !important;
}
input:valid {
  background-image: url('../img/icons/form-icon-ok.svg');
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
}
input.error:valid {
  border-bottom-color: inherit !important;
}
button:disabled {
  opacity: 0.5 !important;
}
input:optional:valid {
  background-image: none;
}

@media screen and (max-width: 767px) {
  .main-wrapper {
  	background-image: none;
    height: 110vh;
  }
  body.extrabuttons .main-wrapper {
    height: 130vh;
  }
  .FixedSmall {
  	-webkit-box-shadow: 0px -2px 5px 0px rgba(238,238,238,0.7);
    -moz-box-shadow: 0px -2px 5px 0px rgba(238,238,238,0.7);
    box-shadow: 0px -2px 5px 0px rgba(238,238,238,0.7);
  	background-color: #fff;
  	border-top: 1px solid #f5f5f0;
  	bottom: 0;
  	left: 0;
  	padding-left: 32px;
  	padding-right: 32px;
  	padding-left: 3.2rem;
  	padding-right: 3.2rem;
  	right: 0;
  	position: fixed;
  	width: 100%;
    z-index: 500;
  }
  .FixedSmall.off {
  	background-color: inherit;
  	padding: inherit;
  	position: relative;
  	width: 100%;
  }
}

