@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700);

html {
	
  font-family: Titillium Web,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  
}
body {
  background-image: url(../img/spid-usericon.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 100vh;
}
body.index-html {
  background-image: none;
}
body.blockScroll {
  overflow: hidden;
}

h1,h2,h3 {
	color: #00264d;
}
.main-header__spidlogo {
	max-width: 100%;
	width: 100px;
	width: 10rem;
}
.main-header__spidlogo.v2 {
  width: 125px;
  width: 12.5rem;
}
.Form-input {
	background-color: #fff;
	background-color: transparent !important;
}
.icon-error {
  width: 60%;
}
.u-layout-extrasmall {
  max-width: 500px !important;
  max-width: 50rem !important;
}

.Providersgrid > div {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Providersgrid > div:nth-child(2) .Providersgrid-item {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.Providersgrid > div:nth-child(3) .Providersgrid-item {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.Providersgrid > div:nth-child(4) .Providersgrid-item {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.Providersgrid > div:nth-child(5) .Providersgrid-item {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.Providersgrid > div:nth-child(6) .Providersgrid-item {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.Providersgrid > div:nth-child(7) .Providersgrid-item {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.Providersgrid > div:nth-child(8) .Providersgrid-item {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
#non-hai-spid {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.Form.fadeIn {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.Providersgrid-item {
  text-align: center;
}
.Providersgrid-item img {
  background-color: transparent;
  width: auto;
  max-width: 100%;
}
.Providersgrid-item > a {
  display: block;
  padding: 2rem 3rem;
}
.Providersgrid-wrapper {
  padding: 1rem 0;
  position: relative;
}

#spid-animation {
  bottom: calc(50vh - 20px);
  height: 30px;
  right: 50vw;
  position:fixed; 
  transform: scale(0.1); 
  z-index: -1;
}
.runAnimation {
  -webkit-animation:ease-in-out;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation:ease-;
  animation-name: run;
  animation-duration: 1s;
  animation-fill-mode: forwards;

}
@-webkit-keyframes run { 
    0% { 
      right: 50vw;
      height: 100px; 
      width: auto; 
    }
    100% { 
      bottom:5vh; 
      right: 3.5vh; 
      height: 300px; 
      width: auto;
      transform: scale(1.5); 
    }
}
@keyframes run { 
    0% { 
      right: 50vw;
      height: 100px; 
      width: auto; 
    }
    100% { 
      bottom:8vh; 
      right: 3.5vh; 
      height: 300px;
      opacity: 0.7;
      width: auto;
      transform: scale(1.5); 
    }
}

#providers {
  display: none;
}

#welcome {
  left: 0;
  position: fixed;
  text-align: center;
  top: 49%;
  top: 49vh;
  width: 100%;
  width: 100vw;
  z-index: 10;
}

.Button--welcome {
  position: relative;
}
.Button--welcome img {
  bottom: -0.35em;
  height: 1.4em;
  position: relative;
}



/* OVERRIDES IWT */
h1, h2, h3 {
  color:  #17324D;
}
.u-color-grey-40 {
  color: #5C6F82 !important;
}
input:focus {
  box-shadow: none !important;
}
input.error {
  background-image: url('../img/icons/form-icon-error.svg');
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border-bottom-color: #F83E5A !important;
}
input:valid {
  background-image: url('../img/icons/form-icon-ok.svg');
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border-bottom-color: #00CF86 !important;
}
input.error:valid {
  border-bottom-color: inherit !important;
}
button:disabled {
  opacity: 0.5 !important;
}
input:optional:valid {
  background-image: none;
}
input[type="text"], input[type="password"] {
  padding-right: 4rem !important;
}

/* Media query */
@media screen and (max-width: 767px) {
  body {
  	background-image: none;
    height: 110vh;
  }
  body.extrabuttons .main-wrapper {
    height: 130vh;
  }
  .FixedSmall {
  	-webkit-box-shadow: 0px -2px 5px 0px rgba(238,238,238,0.7);
    -moz-box-shadow: 0px -2px 5px 0px rgba(238,238,238,0.7);
    box-shadow: 0px -2px 5px 0px rgba(238,238,238,0.7);
  	background-color: #fff;
  	border-top: 1px solid #f5f5f0;
  	bottom: 0;
  	left: 0;
  	padding-left: 32px;
  	padding-right: 32px;
  	padding-left: 3.2rem;
  	padding-right: 3.2rem;
  	right: 0;
  	position: fixed;
  	width: 100%;
    z-index: 500;
  }
  .FixedSmall.off {
  	background-color: inherit;
  	padding: inherit;
  	position: relative;
  	width: 100%;
  }

  .Providersgrid-wrapper {
    margin: 0 -3.2rem;
    padding-top: 2rem;
  }
  .Providersgrid {
    margin: 0 3.2rem !important;
  }
  .Providersgrid > div {
    margin-bottom: 1rem;
  }
  .Providersgrid-item > a {
    display: block;
    padding: 1.5rem 2rem;
  }
}


/* ANIMAZIONI FORM INPUT */

.form-animate-fields.Form-field {
  position: relative;
  overflow: hidden;
  padding-top: 2rem;

}
.form-animate-fields .Form-input {
  position: relative;
  z-index: 100;
  display: block;
  width: 100%;
  height: 44px;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
.form-animate-fields .Form-input:focus {
  outline: none;
}
.form-animate-fields .Form-label {
  width: 100%;
  position: absolute;
  top: 24px;
  padding: 10px 8px;
}
.form-animate-fields .Form-label:before,
.form-animate-fields .Form-label:after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}
.form-animate-fields .Form-label:before {
  top: 0;
  height: 100%;
  -webkit-transform: translate3d(-101%, 0, 0);
          transform: translate3d(-101%, 0, 0);
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);

}
.form-animate-fields .Form-input.is-filled + .Form-label:before {
  -webkit-transform: translate(0, 0, 0);
          transform:  translate(0, 0, 0);
}
.form-animate-fields .Form-label:after {
  bottom: 0;
  height: 1px;
  -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.form-animate-fields .Form-input.is-filled + .Form-label:after {
  opacity: 0;
}
.form-animate-fields .form-label-content {
  position: relative;
  display: block;
  width: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
  transition: color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1);
}
.form-animate-fields .Form-input.is-filled + .Form-label .form-label-content {
  font-size: inherit;
  -webkit-transform: scale(1) translate(-8px, -34px);
          transform: scale(1) translate(-8px, -34px);
}
/* FINE ANIMAZIONE FORM ---*/

/* ANIMAZIONI WELCOME */

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  50% {
  opacity: 0.5;
  }
  100% {
  height: auto;
  opacity: 1;
  -webkit-transform: translate(100px, 0);
  transform: translate(100px, 0);
  }
} 
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
} 
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 